<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="google-signin-client_id" content="639822229381-nh4jl5mhr5injlng5neves0d3t0l09pu.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>