<div class="landing__logo">
  <img src="/images/logo.png" alt="Enka">
  <div class="landing__logo__title">
    <span>Enka</span>
    <br/>
    <span class="landing__logo__title__sub">
      TARA KAIN!
    </span>
    <div class="g-signin2" data-width="300px" data-onsuccess="onSignIn"></div>
  </div>
</div>